---
layout: default
---
<head>
  {% seo %}
</head>

<body>

<!-- main -->
<div class="main">
  
    <div class="photo-infos">

      <div class="photo">
        <img src=/assets/images/photo2.jpg alt="Photo of Jesse van Oostrum">
      </div>

      <div class="infos-div">
        <table class="infos" >
          <tr>
            <td class="icon">
              <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i>
            </td>
            <td class="info">
              Hamburg
            </td>
          </tr>
          <tr>
            <td class="icon">
              <i class="fas fa-university" aria-hidden="true"></i>
            </td>
            <td class="info">
              <a target="_blank" href="https://tuhh.de">  TUHH </a>
            </td>
          </tr>
          <tr>
            <td class="icon">
              <i class="fas fa-fw fa-envelope" aria-hidden="true"></i>
            </td>
            <td class="info">
              <a target="_blank" href="https://mailhide.io/e/GfrOzBL1"> Email</a>
            </td>
          </tr>
          <tr>
            <td class="icon">
              <i class="fas fa-fw fa-graduation-cap"></i>
            </td>
            <td class="info">
              <a target="_blank" href="https://scholar.google.com/citations?user=Bh8PLOYAAAAJ&hl=en&oi=ao"> Google Scholar</a>
            </td>
          </tr>
        </table>
      </div>

    </div>

    <div class="content">
      {{ content }}
    </div>

</div>

</body>
