<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Jesse van Oostrum</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"></noscript>
    
  <style>
  </style>  
  {% seo %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-958WQQR9L5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-958WQQR9L5');
  </script>
</head>
<body>
<div class="page">
  
    <nav>
      <!-- title -->
      <div class="header">
        <div class="title">
          <h2>
            Jesse van Oostrum
          </h2>
        </div>
      </div>
    </nav>
  
    <!-- main -->
    <div class="main">
  
      <div class="photo-infos">
  
        <div class="photo">
          <img src=/assets/images/photo2.jpg alt="Photo of Jesse van Oostrum">
        </div>
  
        <div class="infos-div">
          <table class="infos" >
            <tr>
              <td class="icon">
                <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i>
              </td>
              <td class="info">
                Hamburg
              </td>
            </tr>
            <tr>
              <td class="icon">
                <i class="fas fa-university" aria-hidden="true"></i>
              </td>
              <td class="info">
                <a target="_blank" href="https://tuhh.de">  TUHH </a>
              </td>
            </tr>
            <tr>
              <td class="icon">
                <i class="fas fa-fw fa-envelope" aria-hidden="true"></i>
              </td>
              <td class="info">
                <a target="_blank" href="https://mailhide.io/e/GfrOzBL1"> Email</a>
              </td>
            </tr>
            <tr>
              <td class="icon">
                <i class="fas fa-fw fa-graduation-cap"></i>
              </td>
              <td class="info">
                <a target="_blank" href="https://scholar.google.com/citations?user=Bh8PLOYAAAAJ&hl=en&oi=ao"> Google Scholar</a>
              </td>
            </tr>
          </table>
        </div>
  
      </div>
  
      <div class="content">
        {{ content }}
      </div>
  
    </div>
</div>
       
</body>
</html>

